<div class="container">
  {{#each noticias}}
  <div class="row">
    <div class="jumbotron col-md-10" >
      <h1 class="display-4">{{titulo}}</h1>
      <p class="lead">{{contenido}}</p>
      <hr class="my-4">
      <p>Creada por: {{usuarioOriginal}}</p>
      <p>ultima edicion: {{usuarioFinal}}</p>
      <p class="lead">
        <a class="btn btn-dark btn-lg" href="/noticia/{{_id}}" role="button">Opciones</a>
      </p><br>
      <p class="form-text">Fuente <a class="text-dark" href="{{fuente}}">{{fuente}}</a>
      </p>
    </div>
  </div>
  {{/each}}
</div>